body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.txt {
  text-decoration: line-through solid #DAD9D9;
  color: #D9D9D9;
}

.trumode {
  display: block;
  margin-left: 40px;
}

.folsemode {
  display: none;
}

.header_h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #ff9054;
}

.Maininput::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.closeButton {
  opacity: 0;
}

.unHideButton {
  opacity: 1;
}

.inline {
  display: flex;
  width: 310px;
  height: 40px;
  align-items: center;
}

.inline p {
  margin-left: 40px;
  margin-top: 14px;
  font-size: 23px;
  font-family: 'Noto Sans', sans-serif;
}

.inline button {
  margin-left: auto;
  border: none;
  background-color: white;
  color: #FF5F5F;
}

.inline button:hover {
  color: #FF1B1B;
}

.round {
  position: relative;
}

.round_label {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round_label_after {
  border: 2px solid green;
  border-top: none;
  border-right: none;
  content: "";
  height: 7px;
  left: 7px;
  opacity: 1;
  position: absolute;
  top: 8px;
  transform: rotate(-41deg);
  width: 12px;
}

.round_input {
  visibility: hidden;
}

.round_input_checked_label {
  background-color: white;
  border-color: grey;
}

.bottom_container {
  display: none;
  align-items: baseline;
  height: 52px;
  width: 300px;
  box-shadow: 1px 2px 5px 2px grey;
  opacity: 0;
}

.bottom_container_more {
  opacity: 1;
}

.bottom_container:nth-child(1) {
  color: rgb(163, 159, 159);
  font-size: 15px;
}

.button_style {
  font-size: 15px;
  color: rgb(123, 131, 140);
  ;
  border: none;
  background-color: white;
  outline: none;
}

.button_active {
  font-size: 15px;
  color: rgb(123, 131, 140);
  ;
  border: none;
  background-color: white;
  border: 1px solid rgb(239, 213, 213);
  border-radius: 2px 2px 2px 2px;
  outline: none;
}

.button_style:active {
  outline: none;
}

.button_style:focus {
  outline: none;
}

.check_button_all {
  position: absolute;
  width: 30px;
  height: 40px;
  margin-top: 2px;
  z-index: 1;
  background-color: white;
  border: none;
}

.more_then_one {
  opacity: 1;
}

.lower_then_one {
  opacity: 0;
}

.buttons_container {
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 0.9px 0.1px #D7D7D7;
  position: absolute;
}

.text_counter {
  margin-top: 16px;
  color: rgb(123, 131, 140);
}

.form-control-lg {
  height: 35px;
  width: 500px;
  text-align: center;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03)
}

.form-control-lg::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.form-control {
  border-color: #ffcf40!important;
  transition: 0.4s!important;
}

.form-control:focus {
  outline: none!important;
  box-shadow: none!important;
  border-color: #07d5e6!important;
}

.list-group-item {
  width: 350px;
  position: absolute;
  left: 0px;
  box-shadow: 1px 1px 1px 1px #F5F5F5;
}

.more_then_one {
  position: absolute;
  left: 25px;
  top: 140px;
  cursor: pointer;
  transform: rotate(90deg);
  background: white;
  border: none;
  color: rgb(230, 230, 230);
}

.clicked {
  position: absolute;
  left: 25px;
  top: 140px;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  color: rgb(128, 149, 167);
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 967px;
  align-items: center;
  background-color: #5B045D;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 967px;
  align-items: center;
  background-color: #5B045D;
}

.background_false {
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 967px;
  align-items: center;
  background-color: white;
}

.registration_elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 500px;
}

.dont_show {
  visibility: hidden;
}

.show {
  visibility: visible;
  position: fixed;
  left: 700px;
  bottom: 105px;
}

.signIn_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 500px;
}

.user_profile .show-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 45px;
  border: none;
  background: #ff531a;
  border-radius: 0 0px 10px 0;
  z-index: 123;
  cursor: pointer;
  text-align: center;
}

.user_profile .profile_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: -50px;
  width: 320px;
  height: 50vh;
  background-color: #0090c7;
  border-right: 1px solid #ffcf40;
  border-bottom: 1px solid #ffcf40;
  transition: 0.3s;
  opacity: 0;
}

.profile_main.show {
  left: 0;
  opacity: 1;
}

email_input:invalid {
  border: 1px solid red;
}

.profile_main {
  width: 20%;
  height: 200px;
  background-color: red;
}

.circle {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 25px;
  border-radius: 100px;
  background: #FFC300;
}

.user_info {
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border: 1px solid black;
}

.userName {
  font-size: 25px;
  color: #0055FF;
}

.email {
  font-size: 18px;
  color: #0055FF;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 73px;
  margin-top: 90px;
  margin-left: 85px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.my-facebook {
  height: 25px;
  font-size: 10px;
  font-weight: 700;
  background-color: #4267B2;
  border: none;
  color: white;
}

.socialButton {
  display: flex;
  flex-direction: column;
}

.socialButton button {
  margin: 10px;
}