body {
  margin: 0;
  padding: 0;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.txt {
  text-decoration: line-through;
  color: blue;
}

.trumode {
  display: block;
  margin-left: 40px;
}

.folsemode {
  display: none;
}

.header_h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.Maininput {
  width: 500px;
  height: 45px;
  box-shadow: 0px 0px 1px 0px rgba(46, 50, 50, 0.05);
}

.Maininput::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.closeButton {
  opacity: 0;
}

.unHideButton {
  opacity: 1;
}

.inline {
  display: flex;
  width: 500px;
  height: 55px;
  align-items: center;
}

.inline p {
  margin-left: 40px;
  margin-top: 14px;
  color: #110909;
  font-size: 23px;
  /* font-weight: 450; */
  font-family: 'Noto Sans', sans-serif;
}

.inline button {
  margin-left: auto
}
